<%= simple_form_for @user do |f| %>
  <%= f.input :email, label: 'Email:', input_html: { class: 'form-control' } %>
  <%= f.input :password, label: 'Password:', input_html: { class: 'form-control' } %>
  <%= f.input :password_confirmation, label: 'Password confirmation:', input_html: { class: 'form-control' } %>
  <%= f.submit (f.object.new_record? ? 'Create' : 'Update'), class: 'btn btn-default' %>
<% end %>
<% unless current_user %>
  <div class="form-group text-center">
    <label for="social_icons">Connect with:</label>
    <div>
      <% %w(github facebook twitter).map do |link| %>
        <%= link_to auth_at_provider_path(provider: link) do %>
          <%= fa_stacked_icon link, base: "square-o", class: "fa-2x" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="text-center">
    <% if current_user.has_linked_github? %>
      <%= link_to 'Unlink your Github account', delete_oauth_path('github'), method: :delete, data: { confirm: "Are you sure?" } %>
    <% elsif current_user.has_linked_facebook? %>
      <%= link_to 'Unlink your Facebook account', delete_oauth_path('facebook'), method: :delete, data: { confirm: "Are you sure?" } %>
    <% elsif current_user.has_linked_twitter? %>
      <%= link_to 'Unlink your Twitter account', delete_oauth_path('twitter'), method: :delete, data: { confirm: "Are you sure?" } %>
    <% else %>
      <%= link_to 'Delete your acccount', user_path, method: :delete, data: { confirm: "Are you sure?" }%>
    <% end %>
  </div>
<% end %>
