<%= simple_form_for @user do |f| %>
  <%= f.input :email, label: 'Email:', input_html: { class: 'form-control' } %>
  <%= f.input :password, label: 'Password:', input_html: { class: 'form-control' } %>
  <%= f.input :password_confirmation, label: 'Password confirmation:', input_html: { class: 'form-control' } %>
  <%= f.submit (f.object.new_record? ? 'Create' : 'Update'), class: 'btn btn-default' %>
<% end %>
<% if current_user.nil? %>
  <div class="form-group text-center">
    <label for="social_icons">Connect with:</label>
    <div>
      <%= link_to auth_at_provider_path(provider: :facebook) do %>
        <%= fa_stacked_icon "facebook", base: "square-o", class: "fa-2x" %>
      <% end %>
      <%= link_to auth_at_provider_path(provider: :twitter) do %>
        <%= fa_stacked_icon "twitter", base: "square-o", class: "fa-2x" %>
      <% end %>
      <%= link_to auth_at_provider_path(provider: :github) do %>
        <%= fa_stacked_icon "github", base: "square-o", class: "fa-2x" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="text-center">
    <% if current_user.has_linked_github? %>
      <%= link_to 'Unlink your Github account', delete_oauth_path('github'), method: :delete, data: { confirm: "Are you sure?" } %>
    <% elsif current_user.has_linked_facebook? %>
      <%= link_to 'Unlink your Facebook account', delete_oauth_path('facebook'), method: :delete, data: { confirm: "Are you sure?" } %>
    <% elsif current_user.has_linked_twitter? %>
      <%= link_to 'Unlink your Twitter account', delete_oauth_path('twitter'), method: :delete, data: { confirm: "Are you sure?" } %>
    <% else %>
      <%= link_to 'Delete your acccount', user_path, method: :delete, data: { confirm: "Are you sure?" }%>
    <% end %>
  </div>
<% end %>
