<% if @random_card %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @random_card.translated_text %>
    </div>
    <div class="panel-body">
      <%= simple_form_for :card, url: :check_card do |f| %>
        <%= f.input :input_text, label: 'Translation', input_html: { class: 'form-control' }, required: true %>
        <%= f.button :submit, 'Check', input_html:{ class: 'btn btn-default' }  %>
        <%= f.hidden_field :id, value: @random_card.id %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>All of the cards have been revised! Well done!</p>
<% end %>
