.row
  .col-md-12
    - if @cards.empty?
      %h3= t('view.no_cards')
    - else
      - @cards.each do |card|
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h1.panel-title= link_to card.original_text, card
            .panel-body
              %h3.panel-title= card.translated_text
            .panel-footer
              %p
                = t('view.next_review_date')
                = card.review_date.strftime("%d/%m/%Y")
              %hr/
              %p
                = t('view.deck')
                = card.deck.title
          %br/
