<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= @card.original_text %></h1>
      </div>
      <div class="panel-body">
        <h3 class="panel-title"><%= @card.translated_text %></h3>
      </div>
      <div class="panel-footer">
        <p><%= @card.review_date.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">

      <div class="btn-group" role="group" aria-label="...">
        <%= link_to 'Редактировать', edit_card_path(@card), class: "btn btn-default btn-sm" %>
        <%= link_to 'Удалить', card_path(@card), method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-default btn-sm" %>
        <%= link_to 'Назад', cards_path, class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>
</div>
